/* @charset "UTF-8";
/* 
  Reset CSS 
  Youtube 👉 https://www.youtube.com/watch?v=Foieq2jTajE 
  Github  👉 https://github.com/eduardofierropro/Reset-CSS
*/

:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* vertical-align: baseline; */
}






/* 
 body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: #f7e481;
  flex-direction: column;

}  



body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 20px;


  -webkit-background-size: cover;
  background-size:contain;
  background-position: center center;
}*/



/* comentado 06-03 
main{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
    justify-content: center;
  
  align-items: center;
  background-image: url(/img/pxfuel.jpg);
  background-position: center;

} */


.header{
  position:absolute;
  top: 0;
  width:100%;
  background-color: #C08081;
  padding: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  color:white;
}
.header .h1{
  /* background-color: aqua; */
  font-size: 2.5vh;
  
}
.cajatitulo {
  display: flex;
  flex-wrap: wrap;
  font-size: 3.5vh;
  width: 100%;
  justify-content: center;
  align-items: center; 
  /* margin-bottom: 100px; */  
  /* margin-top: 10%; */
}
.inicio h1, h2 {
  display: flex;
  justify-content:center;
  align-items: center;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Playball', cursive;

  margin: 0px;
  font-size: 1.8em;
  text-align: center;
  color: white;
text-shadow: rgb(46, 46, 46) 2px 3px;

}

.servicios h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.header .button{
  /* background-color: crimson; */
  display: none;
}
.header .svg{
  width:2.2em;
  height:2.2em;
  fill:white;
  margin-right: 25px;
}
.header .nav{
  /* background-color: bisque; */
  justify-content: center;
  
}
.header .ul{
  display: flex;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
  
}
.header .li{
  margin: 0 .5em;
}
section{
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  /* padding: 15px; */
  align-items: center;
  flex-wrap: nowrap;


}
section .galeria {

display: flex;
flex-wrap: nowrap;
align-items: center;
flex-direction: column;

}
section .frase {
  display: flex;

  flex-direction: column;
}

.marco{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--background-color);
}
.marco h2{
  color: #ff4d6d;
  font-size: 2.2em;
}
.marco p{
  color: white;
}

section img{
  width: 100%;
  /* height: 250px; */
  object-fit: cover;
  object-position: bottom;
}
.inicio{
  width: 100%; 
height: 750px; 

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-position: center;
  background-repeat:repeat-x; */
  /* background-image: url("/img/portada.jpg"); */
  background-image: url("/img/portadaCopia.jpg");
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-position: 50% 30%; 
  /* background-attachment: fixed; */
  background-size: cover; 
  margin-top: 70px;
}


/* .inicio img {
  width: 100%;
  
  height: 700px; 
  
 object-fit: cover;
  object-position: bottom; 
}
 */





.container, .c1  {

  width: 490px;
  height: 290px; 
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  align-items: center;

    background-image: url("https://promedicas.mx/cuernavaca/wp-content/uploads/2021/06/podologia-especialidad.jpg");   
  
   background-position:right;
   background-size: 100%;
  flex-shrink: 2;
  overflow: hidden; 
  box-shadow: 0 0 0 10px #fff,
              0 0 0 11px #ccc,
              0 20px 20px -12px #000;
}


p {
  font-size: 2.5vh;
  text-align: justify;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /* background: rgba(0, 0, 0, .8); */
  color: rgb(0, 0, 0);
  display:flex;
  justify-content:center;
  align-items:center;
  /* padding: 2em; */
  box-sizing: border-box;
  position: relative;
  top: 100%;
  transition:all .3s;
}

.c2  {
  font-size: 1vh;
  background-image: url(https://www.barrenacraus.com/wp-content/uploads/2021/01/POST-BARRENA-CRAUS-principal-ARTICULO-podologo-1024x727.jpg);  
  }
  
  .container:hover p{
    top: 0;
  
  }
  
.presentacion{
  background: rgba(0, 255, 191, 0.5);
  color: #000;
  font-size: 2.8vh;
  margin-top: 20px;

}

/*whatsapp flotante*/
.whatsapp { 
  position:fixed; 
  width:65px; 
  height:65px;
  bottom:90px;
  right: 40px;
  background-color:#21d964; 
  color:#FFF; 
  border-radius:50px; 
  text-align:center; 
  font-size:45px; 
  z-index:100;
} 

footer{
  display: flex;
  flex-wrap: wrap;
  height: 9vh; 
  width: 100%;

  /* align-self: flex-end; */
  /* bottom: 0; */
   /* background-color: rgb(252, 190, 224); */
   background-color: var(--theme-color);
   justify-content:center;
  align-items: center; 
  /* padding-right: 25px;  */
 text-align: center;
 color: white;
}
.pie{
font-family: 'Montserrat', sans-serif;
display: flex;
flex-wrap:wrap;
width: 100%;
justify-content: center;
align-items: center;
font-size: 0.8em;
text-align: center;
}
.pie a{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color:rgb(255, 255, 255);
  text-decoration: none;
}
.pie i{
  font-size: 1.2em;
}


img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  cursor: pointer;

}

 a:hover {
  /* background: #6ef7be; */
  color: hwb(175 5% 8%);
}

.logo{
  width: 50px;
  height: 50px;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}
 h3, h4, h5, h6, span, a, strong, blockquote, i, b, u, em {
  font-size: 1.5em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* .asistencia{
  text-align: center;
} */

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* background-color: transparent; */


  display: block;

  /* -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; */
}

/*textarea*/

.estilotextarea4 {
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  scrollbar-arrow-color: #000066;
  scrollbar-base-color: #000033;
  scrollbar-dark-shadow-color: #336699;
  scrollbar-track-color: #666633;
  scrollbar-face-color: #cc9933;
  scrollbar-shadow-color: #DDDDDD;
  scrollbar-highlight-color: #CCCCCC;
  border-radius: 20px;
  justify-content: center;
  /* margin-left: 30px; */
}





table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}


/* Código */



.datos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.datos a{
  align-content: center;
  display: flex;
  padding: 15px;
}
.mapa{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: aquamarine;
  width: 100%;
  align-content: center;
} 

@media screen and (max-width:576px){
  .header .button{
    display: block;
    cursor: pointer;
  }
  .container{
    width: 340px;
    height: 204px; 
  }


  .header .nav{
    width:100%;
   /* display: none; */
    height:0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo{
    /* display: block; */
    height:50vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
    justify-content: center;
  }
   .header .li{
    margin: 1rem 0;
  } 
  .header .logo{
    margin-left: 25px;
  }    


}

/* .formulario{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/* @media screen and (max-width: 350px) {
  .container{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}  */ 